## First Assignment

#### 1) Apply the appropriate string methods to the **x** variable (as '.upper') to change it exactly to: "$Dichlorodiphenyltrichloroethane$".

In [4]:
x = "DiClOrod  IFeNi  lTRicLOr oETaNo  DiChlorod iPHeny lTrichL oroEThaNe"

In [7]:
x.replace(" ", "")[27:].title()

'Dichlorodiphenyltrichloroethane'

#### 2) Assign respectively the values: 'word', 15, 3.14 and 'list' to variables A, B, C and D in a single line of code. Then, print them in that same order on a single line separated by a space, using only one print statement.

In [13]:
d1 = {'A':'word', 'B':15, 'C':3.14, 'D':'list'}
print(d1.values())

dict_values(['word', 15, 3.14, 'list'])

#### 3) Use the **input()** function to receive an input in the form **'68.4 1.71'**, that is, two floating point numbers in a line separated by space. Then, assign these numbers to the variables **w** and **h** respectively, which represent an individual's weight and height (hint: take a look at the '.split()' method). With this data, calculate the individual's Body Mass Index (BMI) from the following relationship: 
    
\begin{equation}
BMI = \dfrac{weight}{height^2}
\end{equation}

In [1]:
print('What is your weight and height?')
x = input()
x.split()

What is your weight and height?
68.4 1.71

['68.4', '1.71']

In [2]:
w = x.split()[0]
print(w)

68.4

In [3]:
h = x.split()[1]
print(h)

1.71

In [24]:
BMI = float(w)/ float(h)**2
print(BMI)

23.39181286549708

In [31]:
if BMI < 18.5:
    print('Underweight')
elif 18.5 < BMI < 24.9:
    print('Normal weight')
elif 25 < BMI < 29.9:
    print('Pre-obesity')
elif 30.0 < BMI < 34.9:
    print('Obesity class I')
elif 35.0 < BMI < 39.9:
    print('Obesity class II')
else BMI > 40:
    print('Obesity class III')

Normal weight

#### This value can also be classified according to ranges of values, following to the table below. Use conditional structures to classify and print the classification assigned to the individual. 

<center><img src="https://healthtravelguide.com/wp-content/uploads/2020/06/Body-mass-index-table.png" width="30%"><\center>  


(source: https://healthtravelguide.com/bmi-calculator/)

#### 4) Receive an integer as an input and, using a loop, calculate the factorial of this number, that is, the product of all the integers from one to the number provided.

In [5]:
print('Enter an integer')
y = input()

Enter an integer
7

In [7]:
z = 1
for integer in range (1,int(y)+1):
    z = z * integer
print("Factorial of ", y, "is: ", z)

Factorial of  7 is:  5040

#### 5) Using a while loop and the input function, read an indefinite number of integers until the number read is -1. Present the sum of all these numbers in the form of a print, excluding the -1 read at the end.

In [94]:
list1 = []
while True:
    x = int(input())
    if x == -1:
        break
    list1.append(x)
sum(list1[:])

1
2
3
-1

6

#### 6) Read the **first name** of an employee, his **amount of hours worked** and the **salary per hour** in a single line separated by commas. Next, calculate the **total salary** for this employee and show it to two decimal places.

In [105]:
d1 = {'name':"Smith", 'hours worked':40.5, 'salary per hour':15.68}
d1.values()

dict_values(['Smith', 40.5, 15.68])

In [106]:
total_salary = d1['hours worked']*d1['salary per hour']
print(total_salary)

635.04

#### 7) Read three floating point values **A**, **B** and **C** respectively. Then calculate itens a, b, c, d and e:

In [54]:
A = 2.5
B = 4.2
C = 3.5

    a) the area of the triangle rectangle with A as the base and C as the height.

In [57]:
area = (A * C)/2

In [58]:
print(area)

4.375

    b) the area of the circle of radius C. (pi = 3.14159)

In [59]:
area_circle = (3.14159*(C**2))

In [60]:
print(area_circle)

38.4844775

    c) the area of the trapezoid that has A and B for bases and C for height.

In [61]:
area_trapezoid = ((A+B)*C)/2

In [62]:
print(area_trapezoid)

11.725

    d) the area of the square that has side B.

In [63]:
area_square = B**2
print(area_square)

17.64

    e) the area of the rectangle that has sides A and B.

In [64]:
area_rectangle = A*B
print(area_rectangle)

10.5

#### 8) Read **the values a, b and c** and calculate the **roots of the second degree equation** $ax^{2}+bx+c=0$ using [this formula](https://en.wikipedia.org/wiki/Quadratic_equation). If it is not possible to calculate the roots, display the message **“There are no real roots”**.

In [78]:
from math import sqrt

In [79]:
a = 2
b = 4
c = 1

In [80]:
discriminant = sqrt(b**2 - (4*a*c))

In [81]:
if discriminant >= 0: 
    x1 = ((-b)+ discriminant)/(2*a)
    x2 = ((-b)- discriminant)/(2*a)
    print("The roots are ", x1, "and ", x2)
else:
    print("There are no reals roots.")

The roots are  -0.2928932188134524 and  -1.7071067811865475

#### 9) Read four floating point numerical values corresponding to the coordinates of two geographical coordinates in the cartesian plane. Each point will come in a line with its coordinates separated by space. Then calculate and show the distance between these two points. 

(obs: $d=\sqrt{(x_1-x_2)^2 + (y_1-y_2)^2}$)

In [134]:
x1, y1 = 48.208174, 16.373819
x2, y2 = 52.520007, 13.404954

In [135]:
d = sqrt((x1 - x2)**2 + (y1 - y2)**2)
print(d)

5.2350800574694185

#### 10) Read **two floating point numbers** on a line that represent **coordinates of a cartesian point**. With this, use **conditional structures** to determine if you are at the origin, printing the message **'origin'**; in one of the axes, printing **'x axis'** or **'y axis'**; or in one of the four quadrants, printing **'q1'**, **'q2**', **'q3'** or **'q4'**.

In [138]:
x3, y3 = 2.4, 4.5

In [143]:
if x3==0 and y3==0 :
    print("origin")
elif x>0 and y==0:
    print ("x axis")
elif x==0 and y>0:
    print("y axis")
elif x>0 and y>0: 
    print("q1")
elif x<0 and y>0:
    print("q2")
elif x<0 and y<0: 
    print("q3")
elif x>0 and y<0:
    print("q4")

q1

#### 11) Read an integer that represents a phone code for international dialing.  
#### Then, inform to which country the code belongs to, considering the generated table below:
(You just need to consider the first 10 entries)

In [9]:
import pandas as pd
df = pd.read_html('https://en.wikipedia.org/wiki/Telephone_numbers_in_Europe')[1]
df = df.iloc[:,:2]
df.head(20)

           Country Country calling code
0          Austria                   43
1          Belgium                   32
2         Bulgaria                  359
3          Croatia                  385
4           Cyprus                  357
5   Czech Republic                  420
6          Denmark                   45
7          Estonia                  372
8          Finland                  358
9           France                   33
10         Germany                   49
11          Greece                   30
12         Hungary                   36
13         Iceland                  354
14         Ireland                  353
15           Italy                   39
16          Latvia                  371
17   Liechtenstein                  423
18       Lithuania                  370
19      Luxembourg                  352

In [7]:
print("Enter phone code:")
x = int(input())

if x == 43:
    print("Austria")
elif x == 32:
    print("Belgium")
elif x == 359:
    print("Bulgaria")
elif x == 385:
    print("Croatia")
elif x == 357:
    print("Cyprus")
elif x == 420: 
    print("Czech Republic")
elif x == 45:
    print("Denmark")
elif x == 372:
    print("Estonia")
elif x == 358:
    print("Finland")
elif x == 33:
    print("France")
elif x == 49: 
    print("Germany")
else:
    print("phone code not found")

Enter phone code:
32
Belgium

#### 12) Write a piece of code that reads 6 numbers in a row. Next, show the number of positive values entered. On the next line, print the average of the values to one decimal place.

In [32]:
a_l = [4, -1, 5, 3, 6, -3]
a_l2 = []

In [33]:
for num in a_l:
    if num >= 0:
        a_l2.append(num)

In [34]:
len(a_l2) #which shows the number of positive values entered

4

In [36]:
average = sum(a_l2)/len(a_l2)
print(average)

4.5

#### 13) Read an integer **N**. Then print the **square of each of the even values**, from 1 to N, including N, if applicable, arranged one per line.

In [38]:
N = 20

In [47]:
a1 = range(1, N+1)
for n in a1:
    if n % 2 == 0:
        print(n)

2
4
6
8
10
12
14
16
18
20

#### 14) Using **input()**, read an integer and print its classification as **'even / odd'** and **'positive / negative'** . The two classes for the number must be printed on the same line separated by a space. In the case of zero, print only **'null'**.

In [53]:
x = int(input("Enter an integer: "))
if x == 0: 
    print("null")
if x % 2 == 0:
    print("even", end=" ")
else: 
    print("odd", end=" ")
if x > 0: 
    print("positive")
else:
    print("negative")

Enter an integer: 4
even positive

## Challenge
#### 15) Ordering problems are recurrent in the history of programming. Over time, several algorithms have been developed to fulfill this function. The simplest of these algorithms is the [**Bubble Sort**](https://en.wikipedia.org/wiki/Bubble_sort), which is based on comparisons of elements two by two in a loop of passes through the elements. Your mission, if you decide to accept it, will be to input six whole numbers ramdonly ordered. Then implement the **Bubble Sort** principle to order these six numbers **using only loops and conditionals**.  
#### At the end, print the six numbers in ascending order on a single line separated by spaces.